<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <header class="mb-4">
            <h1 class="text-center">Welcome, {{ customer['name'] }}</h1>
        </header>
        <nav class="nav justify-content-center">
            
            <a class="nav-link" href="{{ url_for('place_service_request', customer_id=customer['id']) }}">
                <button class="btn btn-primary">Place new Request</button>
            </a>
            <a class="nav-link" href="{{ url_for('view_requests', customer_id=customer['id']) }}">
                <button class="btn btn-primary">See Requests</button>
            </a>
            
        </nav>
    </div>
</body>
</html>
