<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AtoZ Services</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            text-align: center;
        }
        h1 {
            color: #333;
        }
        h2 {
            margin-top: 20px;
        }
        button {
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>

    <h1>Admin</h1>

    <h2>Add Service</h2>
    <a href="/add-service">
        <button>Add Services</button>
    </a>

    <h2>Pending Approvals</h2>
    <a href="/professionals">
        <button>Approvals</button>
    </a>


    <h2>Manage Users</h2>
    <a href="/view-people">
        <button>Manage Users</button>
    </a>
    

</body>
</html>
