<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Dashboard</title>
   
</head>
<body>
    <header>
        <h1>Welcome, {{ customer['name'] }}</h1>
    </header>
    <nav>
        <ul>
            <li>Home</a></li>
            <li>Profile</a></li> <!--Update details like username, email, password-->
            <li>Orders</a></li> <!--Place an order page, see - old orders maybe?-->
            <a href="{{ url_for('place_service_request', customer_id=customer['id']) }}">
                <button>Place new Request</button>
            </a> 
            <li>See Requests</a></li> <!--View requests made by the customer-->
                <a href="{{ url_for('view_requests', customer_id=customer['id']) }}">
                    <button>See Requests</button>
                </a>
            </li>
                   
            <li>Logout</a></li> <!-- Go back to dashboard-->
        </ul>
    </nav>
</body>
</html>