<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmation</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Booking Confirmation</h1>
            </div>
            <div class="card-body">
                <p><strong>Request ID:</strong> {{ booking.request_id }}</p>
                <p><strong>Professional Name:</strong> {{ booking.professional_name }}</p>
                <p><strong>Service Type:</strong> {{ booking.service_type }}</p>
                <p><strong>Professional Experience:</strong> {{ booking.experience }} years</p>
                <p><strong>Description:</strong> {{ booking.description }}</p>
                <p><strong>Status:</strong> {{ booking.service_status }}</p>
                <p><strong>City:</strong> {{ booking.city }}</p>
                <a href="{{ url_for('cancel_request', request_id=booking.request_id) }}" class="btn btn-danger mt-2">Cancel Request</a>

            </div>
        </div>
    </div>
</body>
</html>
